.form {
  display: flex;
  flex-direction: column;
}
.form-control {
  padding: 10px;
  margin: 5px 0;
  font-size: 18px;
}
label {
  margin: 5px 0;
  font-weight: bold;
  font-size: 20px;
}
#properties input {
  margin: 10px 10px 10px 0;
}
