body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.container {
  padding: 1rem 5rem;
}

.inline {
  display: inline;
}

.title {
  display: inline;
  font-size: 35px;
}

.float-right {
  float: right;
}

.button a {
  text-decoration: none;
  color: white;
}

.button {
  padding: 10px;
  font-size: 18px;
  border: none;
  margin: 5px;
  background-color: rgb(56, 97, 178);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: rgb(48, 82, 150);
}

.button-danger {
  background-color: rgb(200, 46, 46);
  border-radius: 3px;
  cursor: pointer;
}

.button-danger:hover {
  background-color: rgb(151, 35, 35);
}

.button-success {
  background-color: rgb(39, 144, 39);
  border-radius: 3px;
  cursor: pointer;
}

.button-success:hover {
  background-color: rgb(31, 116, 31);
}

.mass-delete {
  float: right;
}

.error {
  text-align: center;
  color: red;
}

.product {
  margin: 10px;
  border: 1px gray solid;
  display: inline-block;
  border-radius: 3px;
  padding: 2rem;
}

.product p {
  text-align: center;
}

.delete-checkbox {
  margin-bottom: 20px;
  cursor: pointer;
}

.sku {
  font-size: 18px;
}

.name {
  font-weight: bold;
  font-size: 30px;
}

.price {
  margin: 10px 0;
  font-size: 25px;
}

.weight,
.dimensions,
.size {
  font-size: 18px;
}

#tracker {
  display: none;
}

@media screen and (max-width: 462px) {
  .float-right {
    float: none;
  }

  .title {
    display: block;
    margin-bottom: 10px;
  }

  .button {
    margin: 5px 0;
  }
}
@media screen and (max-width: 651px) {
  .container {
    padding: 1rem 1.25rem;
  }

  .product {
    display: block;
  }
}
